*.iml
.gradle
/local.properties
/.idea/
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
EvaluationScript.jar
data/corpus/corpus_de.tsv.gz
data/corpus/corpus_de_small.tsv
data/en/
data/features/idfmap.tsv
data/features/max_length
data/models/MANIFEST.MF
data/models/crfsuite.model
data/models/crfsuite.training
data/models/encoders.ser
data/relevance_feature_stats.tsv
dependency-reduced-pom.xml
dev.tsv
dev.xml
dev_classified.tsv
dev_classified.xml
input/
sentiment_test_predictions.tsv
target/
test.xml
train.xml
train.xmlasdfasdf
triail.tsv
trial.xml
tsv_temp/
